<div class="container portrait" >
  <div class="imagess">
    <%= image_tag ("almendraPortrait.png")%>
  </div>
  <div class="tex" >
    <h2>Almendra Navarro</h2>
    <p>Née à Aguascalientes, au Mexique, Almendra a commencé sa formation à l’école des Arts Georges Berard.</p>
    <p>Elle s’est distinguée dans plusieurs concours tout au long de sa formation, atteignant notamment la finale du YAGP à New York en 2008 et 2010. Après avoir été admise au CNSMD de Lyon et avoir brillamment obtenu ses diplômes, sa carrière professionnelle a pris son envol.</p>
    <p>Elle a été membre de plusieurs compagnies en Europe, dont le Ballet de l’Opéra de Dortmund, les Ballets de France, l’Opera de Lyon, et le Ballet de l’Opéra de Coblence, où elle a dansé en tant que soliste.</p>
    <p>Depuis 2021, en tant que danseuse freelance, elle se produit dans divers galas et festivals en France et à l’étranger. Son répertoire comprend des œuvres de chorégraphes renommés tels que M. Petitpa, M. Béjart, G. Balanchine, R. Noureev, Michael Pink, Marc Ribaud, Mauro di Candia, S. Fuchs, Xin Peng Wang, Regina Van Berkel et Mario Piazza.</p>
    <p>Almendra est également titulaire d’un Diplôme d’État en danse classique. Elle partage généreusement son expertise en tant que danseuse en donnant régulièrement des stages dans diverses écoles en France et à l’étranger, où elle transmet sa passion et son savoir technique aux jeunes danseurs et danseuses.</p>
    <p>La danse est bien plus qu’une profession pour Almendra, c’est une véritable passion qui la guide. En dehors de la scène, elle co-fonde le Concours International de Danse Entrelacé, une initiative visant à inspirer et à développer les talents émergents, en les aidant à acquérir des connaissances et une expérience scénique essentielles à leur développement artistique.</p>
  </div>
</div>
