<div class="container portrait" >
  <div class="imagess">
    <%= image_tag ("anaisPortrait.png")%>
  </div>
  <div class="tex" >
    <h2>Anais Grigorian</h2>
    <p>J'ai commencé la danse classique et contemporaine à l'âge de 5 ans au Conservatoire de Grenoble. Après 11 ans de pratique, j'ai obtenu mon Diplôme d'Études Chorégraphiques, avec pour discipline principale la danse contemporaine. En parallèle, j'ai également validé mes formations en culture chorégraphique, formation musicale et anatomie.</p>

    <p>Pendant mes années d'études au Conservatoire de Grenoble, j'ai eu l'opportunité de danser pour des chorégraphes tels que Jean-Claude Galotta, Bérangère Andréo, Claude Brumachon et Benjamin Lamarche.</p>

    <p>Après l'obtention de mon diplôme d'études chorégraphiques et, plus tard, de mon baccalauréat, je me suis installée à Lyon, où j'ai souhaité m'investir davantage dans mes études scolaires. J'ai intégré une école d'immobilier et obtenu avec succès mon BTS Professions Immobilières.</p>

    <p>Je suis ensuite devenue agent immobilier, mais j'ai continué la danse en parallèle en rejoignant l'Ensemble de danse Nairi, une troupe de danse arménienne en lien avec mes origines. J'ai également enseigné la danse arménienne au sein de l'école de danse de l'ensemble, les Areviks.</p>

    <p>Aujourd'hui, avec mon époux Sarkis Grigorian, je souhaite transmettre ma passion et mon savoir-faire à travers notre plateforme International Dance Show.</p>
  </div>
</div>
