<div class="container portrait" >
  <div class="imagess">
    <%= image_tag ("anna.jpg")%>
  </div>
  <div class="tex" >
    <h2>Anna Grigorian</h2>
    <p>Née en 1989 à Erevan en Arménie, Anna Grigorian débute la danse classique à l’âge de 10 ans et entre au conservatoire Nationale D"Arménie.</p>
    <p>De 2005 à 2006, elle se forme à la danse classique et contemporaine au Conservatoire National de la région lyonnaise. En 2006, elle obtient le Diplôme d’Etudes Chorégraphiques.</p>
    <p>En 2007, elle poursuit sa formation au CNSMD (Conservatoire National Supérieure de Musique et Danse) de Lyon. En 2009, elle obtient son Certificat d'études chorégraphique et en 2010, le diplôme National Supérieur Professionnel de danseur.</p>
    <p>Parallèlement à ses études au CNSMD elle est acceptée en tant que stagiaire au NDT II en 2010.</p>
    <p>En 2011, elle intègre le Ballet National du Rhin sous la direction de Bertrand D’AT.</p>
    <p>En 2013 elle signe un contrat avec l’Opéra National de Paris en tant que corps de ballet dans l'opéra " Gioconda".</p>
    <p>2014 est l’année ou elle signe son premier contrat en tant que Soliste au CARMEN BALLET sous la direction de Natalia Osipova, et termine cette belle aventure avec 35 représentations dans 35 villes de France (Salle 3000 LYON, Zenith de DIJON, théâtre Silo Marseille, Centre des congres NANTES …)</p>
    <p>Depuis 2015, Anna Grigorian enseigne la danse classique et néo-classique.</p>
    <p>En 2022 elle crée le CENTRE ARTTIQUE DANSE GRIGORIAN à Décines.</p>
  </div>
</div>
