<div class="container portrait" >
  <div class="imagess">
    <%= image_tag ("denisPortrait.png")%>
  </div>
  <div class="tex" >
    <h2>Denis Lamaj</h2>
    <p>Né à Tirana, en Albanie il commence la danse dans son pays natal à l’école National de Danse.</p>
    <p>Ensuite integre le CNSMD de Lyon où il obtient son « DNSPD »</p>
    <p>Il débute sa carrière professionnelle avec le Ballet de l’Opéra National du Rhin, il a ensuite travaillé pour plusieurs compagnies telles que Les Ballets de France et la Cie Alan Marty entant que soliste, où il danse et fait des tournées en France, en Europe, en Asie et en Amérique. Par la suite, il danse pour l’Opéra de Reims et l’Opéra de Lyon avant d’obtenir le diplôme d’Etat.</p>
    <p>Depuis 2016, Denis est invité pour donner des stages par différentes écoles en France, Suisse, Mexique et Roumanie. Il enseigne la danse classique depuis 2019 dans diverses écoles de formation ainsi qu’amateur, et prépare également des élèves aux concours de danse internationaux et à l’EAT.</p>
    <p>Denis est également invite entant que membre du jury pour différents concours. Il est notamment co-fondateur du Concours International de Danse «Entrelacé ».</p>
  </div>
</div>
