<div class="container portrait" >
  <div class="imagess">
    <%= image_tag ("gaelPortrait.png")%>
  </div>
  <div class="tex" >
    <h2>Gael Alamaargot</h2>
    <p>Après s'être formé auprès de madame Lucia Petrova ainsi qu'au CNSND de Lyon, Gaël rejoint, en tant que danseur, l'opéra de Toulon et le ballet de l'opéra de МеtZ.</p>
    <p>Par la suite il intègre le Ballet National de Marseille et la compagnie Julien Lestel. Actuellement il danse pour plusieurs directions notamment M.Kelemenis Klap maison de la danse et C. Garcia La Parenthèse.</p>
    <p>Il est diplômé d'état de professeur de danse. Adepte d'énergies et de bienveillance en tant que sportif, il est également certifié de plusieurs techniques de massage reliant le corps et l'esprit à la danse.</p>
  </div>
</div>
