<div class="container portrait" >
  <div class="imagess">
    <%= image_tag ("nasim.jpg")%>
  </div>
  <div class="tex" >
    <h2>Nasim</h2>
    <p>Professeur de danse depuis plus de 15 ans.</p>
    <p>Nacim a été formé par Ryveh Léby sur différentes techniques Hip-Hop, Popping, Locking, new style, L.A Style.</p>

    <p>Formation Salsa Cubaine à La Havane par Reynald Martinez.</p>

    <p>Interventions pour les patineurs  artistiques depuis 2016.</p>
    <p>A donné des stages dans plusieurs villes de France.</p>
    <p>Aujourd'hui, Directeur et professeur chez Studio Nass Danse depuis 2012, il se démarque par son style et sa pédagogie, quel que soit votre niveau la danse sera toujours accessible.</p>
  </div>
</div>
