<div class="container portrait" >
  <div class="imagess">
    <%= image_tag ("petrosPortrait.png")%>
  </div>
  <div class="tex" >
    <h2>Petros Chrokyan</h2>
    <p>Petros Chrkhoyan est passionné par la danse classique depuis son plus jeune âge. C’est en 2001 qu’il commence à étudier la danse au sein de conservatoire d’Erevan en Arménie jusqu’en 2004. Par la suite, en 2006, il intègre la Compagnie Nationale d'Erevan où il danse des grands ballets classiques tels que Don Quichotte, Giselle, Spartacus etc...</p>

    <p>Fin 2006, il décide de partir en France, à Lyon, afin de compléter sa formation au Conservatoire National Supérieur de Lyon. Il y étudie la danse contemporaine de 2006 à 2009. Ensuite, il part élargir ses connaissances au Ballet de Lorraine afin de pratiquer la danse contemporaine au niveau professionnel. Cette expérience lui a permis de rencontrer divers chorégraphes actuels tels que Forsythe, Kylian, Cunningham, etc...</p>

    <p>Après trois ans passés au sein du Ballet de Lorraine, Petros décide de se joindre à Kader Belarbi au Ballet du Capitole (Toulouse) pour ainsi collaborer avec lui pendant trois saisons. En 2014, il part pour la compagnie de l'Opéra de Lyon où il danse jusqu'en 2017 jusqu'à devenir par la suite professeur diplômé d'état.</p>

    <p>Depuis septembre 2017 il enseigne dans diverses écoles la danse classique, des pas de deux et prépare également ses élèves aux concours de danse internationaux.</p>
  </div>
</div>
