<div class="container portrait" >
  <div class="imagess">
    <%= image_tag ("sakoPortrait.png")%>
  </div>
  <div class="tex" >
    <h2>Sarkis Grigorian</h2>

    <p>À l’âge de quinze ans, j’intègre le CNSMDL. Après quatre années d’études supérieures, je débute ma carrière professionnelle en travaillant pour plusieurs opéras en France, notamment l’Opéra de Bastille, l’Opéra de Nancy et le Ballet du Rhin sous la direction d'Ivan Cavallari. </p>

    <p>En 2011, j'ai dansé le rôle principal du ballet Carmen (Don José) avec la compagnie de Natalia Osipova, et j’ai participé avec la troupe à une grande tournée française.</p>

    <p>En 2015, je rejoins la compagnie du Ballet de l’Opéra de Lyon, où je danse et tourne avec eux pendant trois saisons en France, en Europe et à l’étranger.</p>

    <p>En juin 2018, je décide de me reconvertir en tant que professeur de danse classique et j’obtiens mon Diplôme d’État en septembre 2018.</p>

    <p>Parallèlement, en tant que directeur artistique de l’ensemble Naïri à Lyon, je travaille avec plus de soixante-dix danseurs, partageant avec eux mon expérience et ma passion pour la danse.</p>

    <p>Je chorégraphie également des pièces classiques et néo-classiques.</p>

    <p>En 2024, avec mon épouse, nous avons fondé notre nouvelle plateforme International Dance Show.</p>
  </div>
</div>
