<div class="container portrait" >
  <div class="imagess">
    <%= image_tag ("teresaPortrait.png")%>
  </div>
  <div class="tex" >
    <h2>Teresa Grigorian</h2>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
  </div>
</div>
