<div class="footer d-flex" id="footer">
  <div class="footer-content">
    <p>®2024<a href="https://www.albertnikolli.com/"><b> Albert Nikolli </b></a> & Internatiol Dance Show, All Rights Reserved.</p>
  </div>
</div>
