.h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  border-bottom: 0.5px solid #FFDE59;
  padding-bottom: 15px;
}
.h3 {
  margin-top: 20px;
  display: inline-block;
  border-bottom: 1px solid #FFDE59;
  text-align: center !important;

  @media (max-width: 768px) {
    margin-left: 50px;

  }

  @media (max-width: 450px) {
    margin-left: 50px;

  }
}

.p, .ul{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-align: center;
}

.ul {
  list-style-type: none;
}

.main-animation {
  margin-top: 120px;
  position:relative;

  .logo-animation {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.3;
    width: 500px;

    @media (max-width: 460px) {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -10%);
      opacity: 0.4;
      width: 300px;
    }
  }
}
