// Specific CSS for your home-page
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.flexed-box {
  flex: 1 1 0px;
}


.card-box {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;

  ///da controllare

  @media (max-width: 450px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  // #card1 {
  //   background-image: url('history.png');
  //   background-position: center;
  //   background-size: cover;
  //   background-repeat: no-repeat;
  //   opacity: 0.4;
  // }

  #card2 {
    background-image: url('baby-ballerina.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.4;
  }

  #card3 {
    background-image: url('media.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.4;
  }

  .info-card {
    height: 250px;
    border: 1px solid #FFDE59;
    padding: 8px 16px;
    position: relative;
    width: 30%;

    @media (max-width: 450px) {
      height: 250px;
      border: 1px solid #FFDE59;
      position: relative;
      width: 80%;
      margin-bottom: 20px;
    }

    .tex {
      color: #FFDE59;
      z-index: 100;
      opacity: 1 !important;

      a {
        text-decoration: none;
        color: #FFDE59;
      }
    }

    .background-image {
      filter: grayscale(100%);
      width: 250px;
      height: 150px;
      opacity: 0.6;
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      z-index: 1;
    }

    .logo-card {
      width: 150px;
      opacity: 1 !important;
      position: absolute;
      transform: translate(-50%, -50%);
      top: 80%;
      left: 10%;
      z-index: 2;

      @media (max-width: 450px) {
        width: 100px;
        opacity: 1 !important;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 90%;
        left: 10%;
        z-index: 2;
      }
    }
  }
}

h3 {
  color: #FFDE59;
  text-align: center;
}

.contactDiv {
  width: 100%;
  height: 765px;
  background-image: url('group.png');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  opacity: 0.6;
  margin-bottom: 100px;
  padding-bottom: 0px;

  h1 {
    margin-top: 150px;
    opacity: 1 !important;
  }

  @media (max-width: 450px) {
    width: 100%;
    height: 765px;
    background-image: url('group.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    opacity: 0.6;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }

  .img-container {
    width: 100%;
    margin: auto;
    text-align: center;
  }

}

.absoluteHome {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;

  @media (max-width: 450px) {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
  }

  .img-container {
    width: inherit;
    margin: auto;
    text-align: center;

  }


  a {
    text-decoration: none;
    text-align: center;
    border: 1px solid #FFDE59;
    padding: 16px 32px;
    color: #FFDE59;
    background-color: transparent;
    border-radius: 16px;
    margin: auto;

    &:hover {
      background-color: rgba($color: #000000, $alpha: 0.7);
      color: white;
      border: 1px solid white;
    }

    @media (max-width:450px) {
      font-size: 10px;
      text-decoration: none;
      text-align: center;
      border: 1px solid #FFDE59;
      padding: 16px 32px;
      color: #FFDE59;
      background-color: transparent;
      border-radius: 16px;
      margin: auto;
    }
  }
}

.img-logo {
  margin: auto;
  display: block;
  width: 400px;

  @media (max-width: 560px) {
    width: 100%;
  }
}

#splash-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: #000000;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9999; /* Ensure it covers other content */

  @media (max-width: 560px){
    h1 {
      font-size: 20px;
    }
    h2 {
      font-size: 18px;
    }
  }

  .img-logo-splash {
    margin: auto;
    display: block;
    width: 500px;
    margin:0  !important;

    @media (max-width: 560px) {
      width: 100%;
    }
  }
}
