.card-box-prestations {
  display: flex;
  justify-content: space-between;
  margin-top: 180px;
  margin-bottom: 20px;

  ///da controllare

  @media (max-width: 450px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

  }

  // #card1 {
  //   background-image: url('history.png');
  //   background-position: center;
  //   background-size: cover;
  //   background-repeat: no-repeat;
  //   opacity: 0.4;
  // }

  .info-card-prestations {
    height: 250px;
    border: 1px solid #FFDE59;
    padding: 8px 16px;
    position: relative;
    width: 22%;

    @media (max-width: 450px) {
      height: 250px;
      border: 1px solid #FFDE59;
      position: relative;
      width: 80%;
      margin-bottom: 20px;
    }

    .tex-prestations {
      color: #FFDE59;
      z-index: 100;
      opacity: 1 !important;

      a {
        text-decoration: none;
        color: #FFDE59;
      }
    }

    .background-image-prestations {
      filter: grayscale(100%);
      width: 250px;
      height: 150px;
      opacity: 0.6;
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      z-index: 1;
    }

    .logo-card-prestations {
      width: 150px;
      opacity: 1 !important;
      position: absolute;
      transform: translate(-50%, -50%);
      top: 80%;
      left: 10%;
      z-index: 2;

      @media (max-width: 450px) {
        width: 100px;
        opacity: 1 !important;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 90%;
        left: 10%;
        z-index: 2;
      }
    }
  }
}

.m-b-80 {
  margin-bottom: 80px;
}

.main-prestation {
  margin-top: 120px;
  position:relative;

  .logo-prestation {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.3;
    width:500px;
    z-index: -1;

    @media (max-width: 460px) {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -10%);
      opacity: 0.4;
      width: 300px;
    }
  }
}
