<div class="container" style="margin-top:150px">
  <h1>TARIFICATION</h1>

  <h3 style="text-align:left; border-bottom:0.5px solid white;margin-top:20px">COURS DE DANSE PRIVE:</h3>
  <ul style="text-indent:50px;list-style-type:none;">
    <li style="font-size:20px">1H: 50€</li>
    <li style="font-size:20px">2H: 90€</li>
    <li style="font-size:20px">3H: 120€</li>
  </ul>


  <h3 style="text-align:left; border-bottom:0.5px solid white;margin-top:20px">COURS DE DANSE EN GROUPE MIN 6 PERSONNES:</h3>
  <ul style="text-indent:50px;list-style-type:none;">
    <li style="font-size:20px">1H: 20€ PAR PERSONNE 160€</li>
    <li style="font-size:20px">2H: 18€ PAR PERSONNE 216€</li>
    <li style="font-size:20px">3H: 15€ PAR PERSONNE 270€</li>
  </ul>


  <h3 style="text-align:left; border-bottom:0.5px solid white;margin-top:20px">CHOREGRAPHIE OUVERTURE DE BAL POUR LES MARIES:</h3>
  <ul style="text-indent:50px;list-style-type:none;">
    <li style="font-size:20px">Forfait 280€ 3H de répétition</li>
  </ul>

  <h3 style="text-align:left; border-bottom:0.5px solid white;margin-top:20px">CHOREGRAPHIE DANSE DES TEMOINS/AMIS</h3>
  <ul style="text-indent:50px;list-style-type:none;">
    <li style="font-size:20px">Forfait 450€ 5h de répétition</li>
  </ul>

  <h3 style="text-align:left; border-bottom:0.5px solid white;margin-top:20px">CHOREGRAPHIE DANSE DE LA MARIEE OU DU MARI ( DANSE SURPRISE)</h3>
  <ul style="text-indent:50px;list-style-type:none;">
    <li style="font-size:20px">Forfait 180€ 3H de répétition</li>
  </ul>

  <h3 style="text-align:left; border-bottom:0.5px solid white;margin-top:20px">PRESTATION DANSE DU MONDE / DUREE 16 A 20 MIN:</h3>
  <ul style="text-indent:50px;list-style-type:none;">
    <li style="font-size:20px">4 danseurs 4 danses du monde selon vos choix</li>
    <li style="font-size:20px">6 danseurs 4 danses du monde selon vos choix</li>
    <li style="font-size:20px">8 danseurs 5 danses du monde selon vos choix</li>
  </ul>

  <h3 style="text-align:left; border-bottom:0.5px solid white;margin-top:20px">DANSEURS ET MUSICIEN BRESILIEN:</h3>
  <ul style="text-indent:50px;list-style-type:none;">
    <li style="font-size:20px">3 danseuses 3 passages secteur Rhône GROUPE</li>
    <li style="font-size:20px">Formule carnaval 1h de show</li>
    <li style="font-size:20px">5 musiciens 3 danseur 2 capoeira</li>
    <li style="font-size:20px">5 musiciens 3x20min</li>
    <li style="font-size:20px">3 capoeira 3x20min</li>
  </ul>

  <h3 style="text-align:left; border-bottom:0.5px solid white;margin-top:20px">SHOW TUTU LUMINEUX:</h3>
  <ul style="text-indent:50px;list-style-type:none;">
    <li style="font-size:20px">16 min/ 2 passages de 8 min / tutu noir et blanc /4 danseuse</li>
  </ul>
</div>
