<div class="container" style="margin-top:150px">
  <h1>TARIFICATION</h1>

  <h3 class="h3-tarif">COURS DE DANSE PRIVE:</h3>
  <ul class="ul-tarif">
    <li class="li-tarif">1H: 50€</li>
    <li class="li-tarif">2H: 90€</li>
    <li class="li-tarif">3H: 120€</li>
  </ul>


  <h3 class="h3-tarif">COURS DE DANSE EN GROUPE MIN 6 PERSONNES:</h3>
  <ul class="ul-tarif">
    <li class="li-tarif">1H: 20€ PAR PERSONNE 160€</li>
    <li class="li-tarif">2H: 18€ PAR PERSONNE 216€</li>
    <li class="li-tarif">3H: 15€ PAR PERSONNE 270€</li>
  </ul>


  <h3 class="h3-tarif">CHOREGRAPHIE OUVERTURE DE BAL POUR LES MARIES:</h3>
  <ul class="ul-tarif">
    <li class="li-tarif">Forfait 280€ 3H de répétition</li>
  </ul>

  <h3 class="h3-tarif">CHOREGRAPHIE DANSE DES TEMOINS/AMIS</h3>
  <ul class="ul-tarif">
    <li class="li-tarif">Forfait 450€ 5h de répétition</li>
  </ul>

  <h3 class="h3-tarif">CHOREGRAPHIE DANSE DE LA MARIEE OU DU MARI ( DANSE SURPRISE)</h3>
  <ul class="ul-tarif">
    <li class="li-tarif">Forfait 180€ 3H de répétition</li>
  </ul>

  <h3 class="h3-tarif">PRESTATION DANSE DU MONDE / DUREE 16 A 20 MIN:</h3>
  <ul class="ul-tarif">
    <li class="li-tarif">4 danseurs 4 danses du monde selon vos choix</li>
    <li class="li-tarif">6 danseurs 4 danses du monde selon vos choix</li>
    <li class="li-tarif">8 danseurs 5 danses du monde selon vos choix</li>
  </ul>

  <h3 class="h3-tarif">DANSEURS ET MUSICIEN BRESILIEN:</h3>
  <ul class="ul-tarif">
    <li class="li-tarif">3 danseuses 3 passages secteur Rhône GROUPE</li>
    <li class="li-tarif">Formule carnaval 1h de show</li>
    <li class="li-tarif">5 musiciens 3 danseur 2 capoeira</li>
    <li class="li-tarif">5 musiciens 3x20min</li>
    <li class="li-tarif">3 capoeira 3x20min</li>
  </ul>

  <h3 class="h3-tarif">SHOW TUTU LUMINEUX:</h3>
  <ul class="ul-tarif">
    <li class="li-tarif">16 min/ 2 passages de 8 min / tutu noir et blanc /4 danseuse</li>
  </ul>
</div>
