<div class="container" style="margin-top:120px">
  <h1 class="h1">ANIMATION ENFANT</h1 class="p">
  <p class="p">Vous avez besoin d'une animation pour l'anniversaire ou événement de votre enfant ?</p>
  <p class="p">Nous vous proposons un large choix de mascottes et d'animations pour rendre leur
  événement inoubliable.</p>
  <p class="p">N'hésitez pas à nous envoyer un mail pour plus de renseignments, nous vous répondrons
  sous 48h.</p>
</div>
