<div class="conatiner">
  <h2>ANIMATION ENFANT</h2>
  <p>Vous avez besoin d'une animation pour l'anniversaire ou événement de votre enfant ?</p>
  <p>Nous vous proposons un large choix de mascottes et d'animations pour rendre leur
  événement inoubliable.</p>
  <p>N'hésitez pas à nous envoyer un mail pour plus de renseignments, nous vous répondrons
  sous 48h.</p>
</div>
