<div class="container main-cadeau" >
  <h1 class="h1">CADEAU</h1>
  <p class="p">Vous souhaitez faire plaisir à vos proches d'une façon original ?
  Pensez à offrir en cadeau une prestation dansante pour leurs événements, une animation
  pour enfant ou encore un cours de danse avec nos professeurs !</p>
  <p class="p">N'hésitez pas à nous envoyer un mail pour plus de renseignements , nous vous
  répondrons sous 48h.</p>
    <%= image_tag "IDS1.png", class:"logo-cadeau" %>
</div>
