<div class="contactDiv">
</div>
<div class="absoluteHome" id="logo">
    <h1>CADEAU</h1>
  <div class="img-container">
  </div>
    <%= image_tag 'IDS1.png', class:"img-logo"%>
  <a href="/contact" class="button">NOUS CONTACTER</a>
</div>
