<div class="container">
  <h3>CADEAU</h3>
  <p>Vous souhaitez faire plaisir à vos proches d'une façon original ?
  Pensez à offrir en cadeau une prestation dansante pour leurs événements, une animation
  pour enfant ou encore un cours de danse avec nos professeurs !</p>
  <p>N'hésitez pas à nous envoyer un mail pour plus de renseignements , nous vous
  répondrons sous 48h.</p>
</div>
