<div class="container main-cadeau" >
  <h1 class="h1">IDEE CADEAU</h1>
  <p class="p">Vous souhaitez faire plaisir à vos proches d'une façon originale ? Pensez à offrir en cadeau une prestation dansante pour leurs événements, une animation pour enfants ou encore un cours de danse avec nos professeurs !</p>
  <p class="p">N'hésitez pas à nous contacter par mail ou par téléphone pour plus de renseignements.</p>
    <%= image_tag "IDS1.png", class:"logo-cadeau" %>
</div>
