<div class="container main-contact" >
  <div class="container">
  <h1 class="h1">CONTACT</h1>
  <p class="p">Que ce soit pour des cours particuliers de danse, la chorégraphie de votre première danse de mariage ou l'animation de votre événement, nous sommes à votre service.</p>
  <p class="p">N'hésitez pas à consulter nos offres.</p>
  <p class="p">Nous sommes ouverts 7 jours sur 7. Vous pouvez nous contacter par mail ou directement par téléphone, de 10h à 21h, au numéro indiqué.</p>
  <p class="p">Merci à vous.</p>
  <h3 >Équipe INTERNATIONAL DANCE SHOW</h3>
</div>
<div class="icons-contact">
  <div class="telephone">
    <i class="bi bi-telephone"></i>
    <span> <a href="tel:+33623932733">06 23 93 27 33</a></span>
  </div>
  <div class="email">
    <i class="bi bi-envelope-at"></i>
    <span> <a href="mailto:internationaldanceshow@gmail.com">internationaldanceshow@gmail.com</a> </span>
  </div>
  <%# <div class="address">
    <i class="bi bi-geo-alt"></i>
    <span> <a href="https://www.google.fr/maps/place/Lione/@45.756156,4.7781925,12.47z/data=!4m6!3m5!1s0x47f4ea516ae88797:0x408ab2ae4bb21f0!8m2!3d45.764043!4d4.835659!16zL20vMGRwcmc?entry=ttu">Lyon, Auvergne-Rhône-Alpes</a></span>
  </div> %>
</div>
