<div class="contactDiv">
</div>
  <div class="absoluteHome" id="logo">
    <div class="img-container">
      <%= image_tag 'IDS1.png', width:"400px" %>
    </div>
    <a href="/contact" class="button">NOUS CONTACTER</a>
  </div>
<div>
