<div class="container main-contact" >
  <div class="container">
    <h1 class="h1">CONTACT</h1>
    <p class="p">Que ce soit pour des cours particuliers de danse, la chorégraphie de votre première danse de mariage ou l'animation de votre événement, nous sommes à votre service.</p>
    <p class="p">N'hésitez pas à consulter nos offres.</p>
    <p class="p">Nous sommes ouverts 7 jours sur 7.  Vous pouvez nous contacter par e-mail, par téléphone ou directement via l'espace de messagerie ci-dessous.</p>
    <p class="p">Merci à vous.</p>
    <h3 >Équipe INTERNATIONAL DANCE SHOW</h3>
    <%= image_tag "IDS1.png", class:"logo-contact" %>
  </div>
  <div class="message-us">
    <div class="form-container">
      <%= render "contacts/contact"%>
    </div>
    <div class="icons-contact">
      <div class="telephone">
        <i class="bi bi-telephone"></i>
        <span> <a href="tel:+33781864551">07 81 86 45 51</a></span>
      </div>
      <div class="email">
        <i class="bi bi-envelope-at"></i>
        <span> <a href="mailto:internationaldanceshow@gmail.com">internationaldanceshow@gmail.com</a> </span>
      </div>
    </div>
  </div>
</div>
