<div class="contactDiv">
</div>
<div class="absoluteHome" id="logo">
  <div class="img-container">
  </div>
    <%= image_tag 'IDS1.png', class:"img-logo"%>
  <a href="/contact" class="button">NOUS CONTACTER</a>
</div>
<div class="container">
  <p>Vous avez envie d’apprendre à danser, INTERNATIONALDANCESHOW est là pour vous.</p>

  <p>Cours particuliers de danse, chorégraphie de 1ère danse de mariage ou Animation danse pour événement,</p>

  <p>dans Rhône-Alpes.</p>

  <p>N’hésitez pas à consulter nos <a href="prestations">prestations.</a></p>

  <p>Nous sommes ouverts 7j/7. Vous pouvez nous joindre via email ou directement par téléphone, de 10h à 21h au numéro gratuit</p>

  <p>06 23 93 27 33.</p>

  <p>Nous nous engageons à vous rappeler ou à vous répondre dans un délai maximum de 24 heures.</p>

  <p>Merci à vous</p>
</div>
<div class="icons-contact">
  <div class="telephone">
    <i class="bi bi-telephone"></i>
    <span> <a href="tel:+33623932733">06 23 93 27 33</a></span>
  </div>
  <div class="email">
    <i class="bi bi-envelope-at"></i>
    <span> <a href="mailto:internationaldanceshow@gmail.com">internationaldanceshow@gmail.com</a> </span>
  </div>
  <div class="address">
    <i class="bi bi-geo-alt"></i>
    <span> <a href="https://www.google.fr/maps/place/Lione/@45.756156,4.7781925,12.47z/data=!4m6!3m5!1s0x47f4ea516ae88797:0x408ab2ae4bb21f0!8m2!3d45.764043!4d4.835659!16zL20vMGRwcmc?entry=ttu">Lyon, Auvergne-Rhône-Alpes</a></span>
  </div>
</div>
