<div class="container" style="margin-top:120px">
  <h1 class="h1 class="p"">COURS DE DANSE</h1>

  <p class="p">INTERNATIONALDANCESHOW vous propose des cours de danse privés ou en groupe
    pour tous les niveaux à domicile ou dans nos locaux.</p>
  <p class="p">Nous vous proposons :</p>
  <ul class="ul">
    <li>LA DANSE CLASSIQUE</li>
    <li>LES DANSES DU MONDE</li>
    <li>LA DANSE CONTEMPORAINE</li>
    <li>LE JAZZ</li>
    <li>LES DANSES LATINES</li>
    <li>LE BREAKDANCE</li>
    <li>LE HIP-HOP</li>
    <li>LA BARRE AU SOL</li>
  </ul>
  <p class="p">Tous nos professeurs sont des professionnels et diplômés. Ils vous enseigneront la danse
  et vous aiderez à sortir de votre zone de confort.</p>
  <p class="p">Des formules vous sont proposées selon votre niveau ainsi que vos envies.</p>
  <p class="p">N'hésitez pas à nous envoyer un mail pour plus de renseignements , nous vous
  répondrons sous 48h.</p>

  <h3 class="h3">CONCOURS DE DANSE</h3>
  <p class="p">Vous souhaitez participer à un concours de danse ?</p>
  <p class="p">Enfant ou adulte nos professeurs sont là pour vous motiver et vous aidez à améliorer votre
  niveau de danse grâce à des cours privés dans nos locaux pour monter le plus haut sur le
  podium !</p>
  <p class="p">N'hésitez pas à nous envoyer un mail pour plus de renseignements , nous vous
  répondrons sous 48h.</p>
</div>
