<div class="contactDiv">
</div>
  <div class="absoluteHome" id="logo">
    <div class="img-container">
      <%= image_tag 'IDS1.png', width:"400px" %>
    </div>
    <a href="/contact" class="button">NOUS CONTACTER</a>
  </div>
<div>
<div class="container" style="text-align:center;">
  <h2>Cours Particuliers de Danse à Domicile, Ouverture de Bal,
  Animation événementielle, Show et Spectacle</h2>
  <p>Vous avez envie d’apprendre à danser en cours particulier de danse ou vous perfectionner?</p>
  <p>Une ouverture de bal à créer grâce à des cours de danse pour mariage; ou une prestation de danse le jour de votre mariage? Un anniversaire dansant à animer?<br> Un EVJF? Un show de danse pour vous ou votre entreprise?</p>
</div>
<div style="margin:auto;text-align:center; display:flex; justify-content:space-around;align-items:center">
  <div style="display:inline-block;width:30%; height:120px; border:1px solid #FFDE59;">
    <div style="padding:16px 8px">
      <h3>NOTRE HISTOIRE</h3>
      <p>Pour en savoir plus sur INTERNATIONALDANCESHOW</p>
    </div>
  </div>
  <div style="display:inline-block;width:30%; height:220px; border:1px solid #FFDE59;">
    <div style="padding:16px 8px">
      <h3>NOS SERVICES</h3>
      <p>Pour en savoir plus sur les services qu'on propose</p>
    </div>
  </div>
  <div style="display:inline-block;width:30%; height:120px; border:1px solid #FFDE59;">
    <div style="padding:16px 8px">
      <h3>NOTRE MEDIA</h3>
      <p>Pour avoir access a tout nos medias</p>
    </div>
  </div>
</div>
  <h1 style="text-align:center">SITE EN CONSTRUCTION</h1>
