<div class="container main-fondateurs1" >
  <h1 class="h1">LES FONDATEURS</h1>
  <div class="container">
    <div class="d-flex justify-content-around clearfix">
      <div style="padding:10px 5px; width:68%; text-align:justify">
        <h2 style="color:#FFDE59;text-align:center">Sarkis Grigorian</h2>
        <p>À l’âge de quinze ans, j’intègre le CNSMDL. Après quatre années d’études supérieures, je débute ma carrière professionnelle en travaillant pour plusieurs opéras en France, notamment l’Opéra de Bastille, l’Opéra de Nancy et le Ballet du Rhin sous la direction d'Ivan Cavallari. </p>
        <p>En 2011, j'ai dansé le rôle principal du ballet Carmen (Don José) avec la compagnie de Natalia Osipova, et j’ai participé avec la troupe à une grande tournée française.</p>
        <p>En 2015, je rejoins la compagnie du Ballet de l’Opéra de Lyon, où je danse et tourne avec eux pendant trois saisons en France, en Europe et à l’étranger.</p>
        <p>En juin 2018, je décide de me reconvertir en tant que professeur de danse classique et j’obtiens mon Diplôme d’État en septembre 2018.</p>
        <p>Parallèlement, en tant que directeur artistique de l’ensemble Naïri à Lyon, je travaille avec plus de soixante-dix danseurs, partageant avec eux mon expérience et ma passion pour la danse.</p>
        <p>Je chorégraphie également des pièces classiques et néo-classiques.</p>
        <p>En 2024, avec mon épouse, nous avons fondé notre nouvelle plateforme International Dance Show.</p>
      </div>
      <div class="d-flex align-items-center justify-content-center" style="width:18%">
        <img src="/assets/sarkisPortrait-1fc04ae3fab14fb250af0f38827ec41ffd4b10890cb075c77a289ae0585c816c.png" alt="" width="200px" style="border:1px solid #FFDE59;">
      </div>
    </div>
    <div class="d-flex justify-content-around clearfix" >
      <div class="d-flex align-items-center justify-content-center" style="width:18%;">
        <img src="/assets/anaisPortrait1-f89e4501b5865a9ee6f2db04e88eb8fb2ac7f49a0f522bef8b526b2e3e09ec6c.png" alt="" width="200px" style="border:1px solid #FFDE59;">
      </div>
      <div style="padding:10px 5px; width:68%; text-align:justify">
        <h2 style="color:#FFDE59;text-align:center">Anais Kotandjian</h2>
        <p>J'ai commencé la danse classique et contemporaine à l'âge de 5 ans au Conservatoire de Grenoble. Après 11 ans de pratique, j'ai obtenu mon Diplôme d'Études Chorégraphiques, avec pour discipline principale la danse contemporaine. En parallèle, j'ai également validé mes formations en culture chorégraphique, formation musicale et anatomie.</p>
        <p>Pendant mes années d'études au Conservatoire de Grenoble, j'ai eu l'opportunité de danser pour des chorégraphes tels que Jean-Claude Galotta, Bérangère Andréo, Claude Brumachon et Benjamin Lamarche.</p>
        <p>Après l'obtention de mon diplôme d'études chorégraphiques et, plus tard, de mon baccalauréat, je me suis installée à Lyon, où j'ai souhaité m'investir davantage dans mes études scolaires. J'ai intégré une école d'immobilier et obtenu avec succès mon BTS Professions Immobilières.</p>
        <p>Je suis ensuite devenue agent immobilier, mais j'ai continué la danse en parallèle en rejoignant l'Ensemble de danse Nairi, une troupe de danse arménienne en lien avec mes origines. J'ai également enseigné la danse arménienne au sein de l'école de danse de l'ensemble, les Areviks.</p>
        <p>Aujourd'hui, avec mon époux Sarkis Grigorian, je souhaite transmettre ma passion et mon savoir-faire à travers notre plateforme International Dance Show.</p>
      </div>
    </div>
  </div>
    <%= image_tag "IDS1.png", class:"logo-fondateurs" %>
</div>

<div class="container main-fondateurs2" >
  <h1 class="h1">LES FONDATEURS</h1>
  <div class="container">
    <div class="d-flex flex-column clearfix">
      <div style="padding:10px 5px; text-align:justify">
        <h2 style="color:#FFDE59;text-align:center">Sarkis Grigorian</h2>
      <div class="d-flex  justify-content-center">
        <img src="/assets/sarkisPortrait-1fc04ae3fab14fb250af0f38827ec41ffd4b10890cb075c77a289ae0585c816c.png" alt="" width="200px" style="border:1px solid #FFDE59;">
      </div>
        <p>À l’âge de quinze ans, j’intègre le CNSMDL. Après quatre années d’études supérieures, je débute ma carrière professionnelle en travaillant pour plusieurs opéras en France, notamment l’Opéra de Bastille, l’Opéra de Nancy et le Ballet du Rhin sous la direction d'Ivan Cavallari. </p>
        <p>En 2011, j'ai dansé le rôle principal du ballet Carmen (Don José) avec la compagnie de Natalia Osipova, et j’ai participé avec la troupe à une grande tournée française.</p>
        <p>En 2015, je rejoins la compagnie du Ballet de l’Opéra de Lyon, où je danse et tourne avec eux pendant trois saisons en France, en Europe et à l’étranger.</p>
        <p>En juin 2018, je décide de me reconvertir en tant que professeur de danse classique et j’obtiens mon Diplôme d’État en septembre 2018.</p>
        <p>Parallèlement, en tant que directeur artistique de l’ensemble Naïri à Lyon, je travaille avec plus de soixante-dix danseurs, partageant avec eux mon expérience et ma passion pour la danse.</p>
        <p>Je chorégraphie également des pièces classiques et néo-classiques.</p>
        <p>En 2024, avec mon épouse, nous avons fondé notre nouvelle plateforme International Dance Show.</p>
      </div>
    </div>
    <div class="d-flex flex-column clearfix" >
      <div class="d-flex  justify-content-center">
        <img src="/assets/anaisPortrait1-f89e4501b5865a9ee6f2db04e88eb8fb2ac7f49a0f522bef8b526b2e3e09ec6c.png" alt="" width="200px" style="border:1px solid #FFDE59;">
      </div>
      <div style="padding:10px 5px; text-align:justify">
        <h2 style="color:#FFDE59;text-align:center">Anais Kotandjian</h2>
        <p>J'ai commencé la danse classique et contemporaine à l'âge de 5 ans au Conservatoire de Grenoble. Après 11 ans de pratique, j'ai obtenu mon Diplôme d'Études Chorégraphiques, avec pour discipline principale la danse contemporaine. En parallèle, j'ai également validé mes formations en culture chorégraphique, formation musicale et anatomie.</p>
        <p>Pendant mes années d'études au Conservatoire de Grenoble, j'ai eu l'opportunité de danser pour des chorégraphes tels que Jean-Claude Galotta, Bérangère Andréo, Claude Brumachon et Benjamin Lamarche.</p>
        <p>Après l'obtention de mon diplôme d'études chorégraphiques et, plus tard, de mon baccalauréat, je me suis installée à Lyon, où j'ai souhaité m'investir davantage dans mes études scolaires. J'ai intégré une école d'immobilier et obtenu avec succès mon BTS Professions Immobilières.</p>
        <p>Je suis ensuite devenue agent immobilier, mais j'ai continué la danse en parallèle en rejoignant l'Ensemble de danse Nairi, une troupe de danse arménienne en lien avec mes origines. J'ai également enseigné la danse arménienne au sein de l'école de danse de l'ensemble, les Areviks.</p>
        <p>Aujourd'hui, avec mon époux Sarkis Grigorian, je souhaite transmettre ma passion et mon savoir-faire à travers notre plateforme International Dance Show.</p>
      </div>
    </div>
  </div>
    <%= image_tag "IDS1.png", class:"logo-fondateurs" %>
</div>
