<div class="contactDiv">
</div>
<div class="absoluteHome" id="logo">
  <h1 style="">NOS PRESTATIONS</h1>
  <div class="img-container">
  </div>
    <%= image_tag 'IDS1.png', class:"img-logo"%>
  <a href="/contact" class="button">NOUS CONTACTER</a>
</div>
<div class="container">
  <h2>Animation dansante pour vos événements</h2>
  <h3>DANSE DU MONDE</h3>
  <p>Nous proposons pour tous vos événements ( Mariage, Fiançailles, Anniversaire, Baptême,
  Soirée d'entreprise, Séminaire..) un large choix de prestations de danse du monde avec la
  participation de nos danseurs. Vous pouvez personnaliser cette prestation selon vos
  envies.</p>
  <p>Vous avez le choix parmi :</p>
  <ul>
    <li>La danse Arménienne</li>
    <li>La danse Géorgienne</li>
    <li>La danse Grecque</li>
    <li>La danse Russe</li>
    <li>La danse Tzigane</li>
    <li>La danse Brésilienne</li>
    <li>La danse Orientale</li>
  </ul>
  <p>Nous sommes situés dans la région Rhône-Alpes et nous nous déplaçons dans toute la
  France !
  N'hésitez pas à nous envoyer un mail pour plus de renseignements, nous vous
  répondrons sous 48h.</p>

  <h4>MARIAGE :</h4>

  <p>Nous sommes à votre écoute pour rendre le plus beau jour de votre vie inoubliable !
  Amateur ou professionnel, nous sommes là pour vous conseiller et vous accompagner
  dans vos choix musicaux et votre style de danse.
  Nous sommes là pour chorégraphier la danse de vos rêves !</p>

  <p>Nous vous proposons :</p>

  <ul>
    <li>Ouverture de bal personnalisée pour les futurs mariés</li>
    <li>Danse de la mariée ou du mari</li>
    <li>Chorégraphie pour les témoins ou danse de groupe surprise</li>
  </ul>

  <p>N'hésitez pas à nous envoyer un mail pour plus de renseignements, nous vous
  répondrons sous 48h.</p>

  <h4>TUTU :</h4>

  <p>Grande nouveauté nos magnifiques tutu lumineux sur nos danseuses classiques !
  Un show digne des plus grands ballets à l'époque moderne !</p>
  <p>N'hésitez pas à nous envoyer un mail pour plus de renseignements, nous vous
  répondrons sous 48h.</p>

  <h3>COURS DE DANSE :</h3>
  <p>INTERNATIONALDANCESHOW vous propose des cours de danse privés ou en groupe
    pour tous les niveaux à domicile ou dans nos locaux.</p>
  <p>Nous vous proposons :</p>
  <ul>
    <li>LA DANSE CLASSIQUE</li>
    <li>LES DANSES DU MONDE</li>
    <li>LA DANSE CONTEMPORAINE</li>
    <li>LE JAZZ</li>
    <li>LES DANSES LATINES</li>
    <li>LE BREAKDANCE</li>
    <li>LE HIP-HOP</li>
    <li>LA BARRE AU SOL</li>
  </ul>
  <p>Tous nos professeurs sont des professionnels et diplômés. Ils vous enseigneront la danse
  et vous aiderez à sortir de votre zone de confort.</p>
  <p>Des formules vous sont proposées selon votre niveau ainsi que vos envies.</p>
  <p>N'hésitez pas à nous envoyer un mail pour plus de renseignements , nous vous
  répondrons sous 48h.</p>

  <h4>CONCOURS DE DANSE :</h4>
  <p>Vous souhaitez participer à un concours de danse ?</p>
  <p>Enfant ou adulte nos professeurs sont là pour vous motiver et vous aidez à améliorer votre
  niveau de danse grâce à des cours privés dans nos locaux pour monter le plus haut sur le
  podium !</p>
  <p>N'hésitez pas à nous envoyer un mail pour plus de renseignements , nous vous
  répondrons sous 48h.</p>

  <h3>ANIMATION ENFANT :</h3>
  <p>Vous avez besoin d'une animation pour l'anniversaire ou événement de votre enfant ?</p>
  <p>Nous vous proposons un large choix de mascottes et d'animations pour rendre leur
  événement inoubliable.</p>
  <p>N'hésitez pas à nous envoyer un mail pour plus de renseignments, nous vous répondrons
  sous 48h.</p>

  <h3>CADEAU :</h3>
  <p>Vous souhaitez faire plaisir à vos proches d'une façon original ?
Pensez à offrir en cadeau une prestation dansante pour leurs événements, une animation
pour enfant ou encore un cours de danse avec nos professeurs !</p>
<p>N'hésitez pas à nous envoyer un mail pour plus de renseignements , nous vous
répondrons sous 48h.</p>
</div>
