<div class="container tarif-container" style="margin-top:130px">
  <div class="title">
    <h1 class="h1">TARIFICATION</h1>
  </div>

  <h3 class="h3-tarif">ANIMATION ENFANT :</h3>
  <p>Veuillez nous envoyer un mail en précisant votre demande ou nous contacter par téléphone afin que nous puissions élaborer un devis.</p>
  <h3 class="h3-tarif">COURS DE DANSE PRIVE:</h3>
  <ul class="ul-tarif">
    <li class="li-tarif">1H / 50€</li>
    <li class="li-tarif">2H / 90€</li>
    <li class="li-tarif">3H / 120€</li>
  </ul>
  <p>Toute heure supplémentaire sera facturée 30€.
  </p>Pour les cours de danse à domicile, un devis sera établi.</p>


  <h3 class="h3-tarif">COURS DE DANSE EN GROUPE, 6 PERSONNES MINIMUM :</h3>
  <ul class="ul-tarif">
    <li class="li-tarif">1H / 20€ PAR PERSONNE / 120€</li>
    <li class="li-tarif">2H / 18€ PAR HEUR ET PAR PERSONNE / 216€</li>
    <li class="li-tarif">3H / 15€ PAR HEUR ET PAR PERSONNE / 270€</li>
  </ul>
  <p>Toute heure supplémentaire sera facturée 10€ par personne.</p>
  <p>Pour les cours de danse à domicile, un devis sera établi.</p>

  <h3 class="h3-tarif">OUVERTURE DE BAL POUR LES MARIES :</h3>
  <ul class="ul-tarif">
    <li class="li-tarif">FORFAIT 3H DE REPETITION / 320€</li>
  </ul>
  <p>Toute heure supplémentaire sera facturée 30€ pour le couple.</p>

  <h3 class="h3-tarif">DANSE DE LA MARIEE OU DU MARIE ( DANSE SURPRISE) :</h3>
  <ul class="ul-tarif">
    <li class="li-tarif">FORFAIT 3H DE REPETITION / 220€</li>
  </ul>
  <p>Toute heure supplémentaire sera facturée 30€.</p>

  <h3 class="h3-tarif">DANSE DES TEMOINS/AMIS (DANSE SURPRISE) :</h3>
  <ul class="ul-tarif">
    <li class="li-tarif">FORFAIT 5H DE REPETITION/ 450 €</li>
  </ul>
  <p>Toute heure supplémentaire sera facturée 45€.</p>

  <h3 class="h3-tarif">PRESTATION DANSE DU MONDE :</h3>
  <p>La durée de la prestation est entre 15 et 20 min.</p>
  <ul class="ul-tarif">
    <li class="li-tarif">4 DANSEURS / 4 DANSES DU MONDE SELON VOTRE CHOIX / 480€</li>
    <li class="li-tarif">6 DANSEURS / 4 DANSES DU MONDE SELON VOTRE CHOIX / 640 €</li>
    <li class="li-tarif">8 DANSEURS / 4 DANSES DU MONDE SELON VOTRE CHOIX / 800 €</li>
  </ul>

  <h3 class="h3-tarif">PRESTATION DANSE ET MUSIQUE BRESILIENNE :</h3>
  <ul class="ul-tarif">
    <li class="li-tarif">3 DANSEURS / 3 PASSAGES / 920€</li>
  </ul>

  <ul class="ul-tarif">
    <li class="li-tarif">FORMULE CARNAVAL 1H DE SHOW : 5 MUSICIENS / 3 DANSEURS / 2 CAPOEIRA / 3 500€</li>
    <li class="li-tarif">5 MUSICIENS 3X20 MIN / 1 500€</li>
    <li class="li-tarif">3 CAPOEIRA 3X20 MIN / 920€</li>
  </ul>

  <%# <h3 class="h3-tarif">SHOW TUTU LUMINEUX:</h3>
  <ul class="ul-tarif">
    <li class="li-tarif">16 min/ 2 passages de 8 min / tutu noir et blanc /4 danseuse</li>
  </ul> %>
</div>
