.tarif-container {
  margin-top:130px;

  .title {
    text-align: center;
    h1 {
      display: inline-block;
      text-align: center;
    }
  }
  .h3-tarif {
    text-align:left;
    border-bottom:0.5px solid white;
    margin-top:20px;

    @media (max-width: 460px){
      font-size: 20px;
      font-weight: 400;
    }
  }

  .ul-tarif {
    text-indent: 50px;
    list-style-type: none;

    @media (max-width: 460px){
      font-weight: 300;
      text-indent: 0px;
    }
  }

  .li-tarif {
    font-size:20px;

    @media (max-width: 460px){
      font-size: 15px;
    }
  }
}
