<p>Bonjour Sarkis et Anais,</p>

<p>Vous avez reçu un nouveau message depuis votre site web :</p>

<ul>
  <li><strong>Nom :</strong> <%= @name %></li>
  <li><strong>Email :</strong> <%= @email %></li>
</ul>

<p><strong>Message :</strong></p>
<p><%= @message %></p>

<p>Cordialement,<br>
Votre site web</p>
