.user_email {
  display: flex;
  flex-direction: column !important;
  justify-content: left;
  vertical-align: middle;
}

.user_email label{
  justify-content: left;
}

#log-in-btn-session {
  background-color: rgb(246, 202, 46);
  color: rgb(0, 0, 0);;
  border: 1px solid rgb(246, 202, 46);
  margin-bottom: 15px;
  &:hover {
    background-color: rgb(246, 202, 46);
    color: rgb(255, 255, 255);
  }
}
