.marriagesNetNavbar {
  position: absolute;
  right: 15px;
  top:53px;

  img {
    border-width: 0px;
    width: 140px;
  }

  @media (max-width: 480px) {
    display: none;
  }

}

.marriagesNetSidenav {
  width: 90%;
  margin: auto;
  border-bottom:none !important ;
  border-width: 0px;

  img {
    border-width: 0px;
    width: 140px;
  }
}
