.navbar {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100px;
  position: fixed;
  top:0;
  left: 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px solid #FFDE59;
  align-items: center;
  color: #FFDE59;
  opacity: 1;
  z-index: 1000;

  .logo {
    margin-left: 25px;
    width: 100px;
    height: 100px;
    background-size: cover;
    background-image: url('IDS1.png');
    background-position: center center;
    background-repeat: no-repeat;
  }

  .pages {

    ul {
      list-style-type: none;
      display: flex;
      justify-content: space-between;
      padding: 0;

      a {
        text-decoration: none;
        color: #FFDE59;

        &:hover{
          color: white;
        }
      }
    }
  }

  .social {
    margin-right: 50px;
    padding-bottom: 20px;

    a {
      text-decoration: none;

      svg {
        margin-left: 5px;
        color: #FFDE59;

        &:hover {
          color: white;
        }
      }
    }
  }
}

.navbar-660 {
  padding: 0;
  margin: 0;
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  background-color: #ffde59bc;
  border-bottom: 0.5px solid #FFDE59;
  align-items: center;
  color: #000000;
  opacity: 1 !important;
  z-index: 1000;

  .logo {
    margin-left: 25px;
    width: 100px;
    height: 100px;
    background-size: cover;
    background-image: url('IDS2.png');
    background-position: center center;
    background-repeat: no-repeat;
  }

  .pages {
    ul {
      list-style-type: none;
      display: flex;
      justify-content: space-between;
      padding: 0;

      a {
        text-decoration: none;
        color: #000000;

        &:hover{
          color: white;
        }
      }
    }
  }

  .social {
    margin-right: 50px;
    padding-bottom: 20px;

    a {
      text-decoration: none;

      svg {
        margin-left: 5px;
        color: #000000;

        &:hover {
          color: white;
        }
      }
    }
  }

}

.navbar .navbar-collapse {
  flex-grow: 0;
}
